################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VehicleTracker/.vs/VehicleTracker/v16
/VehicleTracker/VehicleTracker/obj
